/*Smooth scroll pour éviter l'effet snap des ancres*/
html {
    scroll-behavior: smooth;
}

/*La navBar apparait au click et est géré en JS*/
/*Changement de couleur et animation shake sur les liens de la navBar*/
#navBar ul li {
    transition: transform 350ms ease-in-out;
}
#navBar ul li:hover {
    animation: shake 150ms 2 linear;
}
#navBar ul li a{
    text-decoration: none;
}
#navBar ul li a:hover{
    color: #10cab7;
}

@keyframes shake {
    0% {
      transform: translate(4px, 0);
    }
    50% {
      transform: translate(-4px, 0);
    }
    100% {
      transform: translate(0, 0);
    }
}

/*Effet d'agrandissement au hover des cartes de la première section*/
.square {
    background-color: white;
    border-radius: 8px;
    transition: all 350ms ease-in-out;
}
.square:hover {
    box-shadow: 0px 0px 150px #615f5f;
    transform: scale(103%);
}

/*Effet d'agrandissement au hover des cartes et changement opacité du portfolio*/
.portfolio-item {
    opacity: 0.8;
    transition: transform 350ms ease-in-out;
}
.portfolio-item:hover {
    opacity: 1;
    transform: scale(1.1);
}
/*Apparition d'un curseur "main" et d'une animation pulse*/
#mail {
    cursor: pointer;
}
#mail:hover {
    animation: pulse 1s;
}
  
@keyframes pulse {
    0% {
        transform: scale(.85);
    }
    70% {
        transform: scale(1);
        text-shadow:
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 20px #10cab7,
            0 0 30px #10cab7;
    }
    100% {
        transform: scale(1);
        text-shadow: none;
    }
}

/*Animation shakeIcone sur les tag <i>*/
i{
    transition: transform 350ms ease-in-out;
}
i:hover{
    animation: shakeIcone 150ms 2 linear;
}


@keyframes shakeIcone {
    0% {
      rotate : 10deg;
    }
    50% {
        rotate : 0deg;
    }
    100% {
        rotate : -10deg;
    }
}

