/*Partie titre de la section*/


/*PARTIE FORMULAIRE*/
#form_title, #subtitle{
    text-align: center;
}
#subtitle{
    width: 60%;
    margin-inline: auto;
}
#subtitle p{
    font-size: 1.7rem;
    font-weight: 800;
    line-height: 2.5rem;
}
/*Le formulaire*/
#form_container{
    display: flex;
    justify-content: center;
}
form{
    margin-block: 1rem;
    padding-block: 2rem;
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 40%);
    justify-content: center;
}
/*Les colonnes du formulaire*/
#form_left_col, #form_rigth_col, #message_container{
    gap: 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
/*Les label et éléments spécifique du formulaire*/
label{
    display: block;
    font-size: 1.2rem;
    font-weight: 800;
    margin-bottom: 0.2rem;
}
select{
    font-size: 1.1rem;
}
#select_container{
    color: #aaa;
}
#message_container textarea{
    resize: none;
}
#rgpd_container{
    display: flex;
    margin-top: 0.5rem;
}
#rgpd_container label{
    padding-left: 0.5rem;
    font-size: 0.8rem;
    font-weight: 4;
    padding-bottom: 0px;
}

/*Placement et animation des label du formulaire au focus*/
.form_group{
    position: relative;
}
/*Certains label sont dépalcé pour apparaitre comme s'ils étaient dans l'input*/
#name_container label, #email_container label, #message_container label{
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    color: #aaa;
    transition: 0.4s ease-out;
}
/*Les input sont presque remis à zéro*/
#name_container input, #email_container input, #message_container textarea, #select_container select{
    display: block;
    padding: 0.5rem 0;
    border: none;
    outline: none;
    background: none;
    border-bottom: 1px solid #aaa;
    transition: 0.4s ease-out;
}
/*Certains label sont translaté au focus sur l'input permettant l'effet de mouvement du label*/
.form_group:focus-within label, .form_group#message_container:focus-within label{
    top: 0;
    translate: 0 -100%;
}
.form_group#name_container:focus-within input, .form_group#email_container:focus-within input, .form_group#message_container:focus-within textarea{
    border-bottom: 1px solid #10cab7;
}
.form_group#name_container:focus-within label, .form_group#email_container:focus-within label, .form_group#message_container:focus-within label{
    color: #10cab7;
}


/*Stylisation des boutons de la class form_btn*/
a.form_btn{ /*Ce bouton est modifié pour être identique aux autres sur la page*/
    text-decoration: none;
}
.form_btn{
    border: 1px solid #10cab7;
    color: #10cab7;
    background-color: transparent;
    border-radius: 50vh;
    font-size: 1.2rem;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-image: linear-gradient(to right, transparent 50%, #10cab7 50%);
    background-size: 200%;
    transition: 0.4s ease-out;
}
.form_btn:hover{
    background-position: 100%;
    color: white;
}
/*POur enlever la bordure au clique*/
.form_btn:focus{
    outline: none;
}

/*PARTIE VIDEO*/
/*Le container est stylisé et un display grid permet de créer les colonnes et de palcer les éléménts au centre*/
#video_container{
    margin-bottom: 3rem;
    padding: 2rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}
#button2_container{
    position: relative;
    text-align: center;
    transform-style: preserve-3d;
    perspective: 3000px;
    width: 100%;
}
/*before du container est utilisé pour cacher la vidéo et le bouton 2. Il accueille l'image pour être raccord avec le reste du thème*/
#button2_container:before{
    position: absolute;
    content: url(../img/about.jpg);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 1;
    transition: all 0.5s ease-in-out;
    transform-origin: left;
    border-left: 1px solid rgb(196, 192, 192);
}
/*Une simple trnasition sur Y associé à un trandform-origin permet l'effet de page qui cache le bouton 1 et révèle le reste*/
.left#button2_container:before{
    transform: rotatey(-180deg);
    transition: all 1.5s ease-in-out;
}

